.logo {
  text-align: center;
  object-fit: fill;
  transform: scale(1.5);
}

.jugadas {
  text-align: center;
  margin-left: 5%;
  margin-bottom: 40px;
}

* {
  transition: all 0.3s ease;
  user-select: none;
}

.cartas-container {
  display: grid;
  justify-content: center;
}

.carta {
  width: 380px;
  border-radius: 4px;
  object-fit: contain;
  cursor: pointer;
}

.carta img {
  height: max-content;
}

.div-carta {
  cursor: pointer;
  width: 380px;
  height: 557px;
  margin: 10px;
}

.row {
  width: 100%;
  margin: 0 auto;
  font-size: 60px;
}

.oculto {
  display: none;
}

#resetBtn {
  font-size: 60px;
}

#mensaje-perdiste {
  font-size: 60px;
  margin-top: 30px;
}
#mensaje-ganaste {
  font-size: 60px;
  margin-top: 30px;
}

.card-back {
  transform: rotateY(360deg);
}
#github {
  margin-top: 30px;
  margin-left: 50%;
  display: inline-block;
}

#github :hover {
  transform: scale(1.3);
}
