.logo {
  text-align: center;
  object-fit: fill;
}

.jugadas {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.cartas-container {
  display: flex;
  justify-content: center;
}

.carta {
  width: 130px;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

* {
  transition: all 0.3s ease;
  user-select: none;
  font-family: "Bebas Neue", cursive;
}

div.carta-container {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}
